APP_PORT=8080
SQL_PORT=1433
ASPNETCORE_ENVIRONMENT=Development
DB_NAME=EmployeeDbReloaded
SA_PASSWORD=Your_password123
MSSQL_PID=Developer
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
MAIL_FROM_EMAIL=
MAIL_PASSWORD=
MAIL_SMTP_HOST=smtp.gmail.com
MAIL_SMTP_PORT=587
