@model Presentation.Models.CreateEmployeeViewModel;

@{
    ViewData["Title"] = "Create Employee";
}

<h1>@ViewData["Title"]</h1>
<hr />

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <label asp-for="FirstName" class="form-label"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="LastName" class="form-label"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="HireDate" class="form-label"></label>
        <input asp-for="HireDate" class="form-control" />
        <span asp-validation-for="HireDate" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Salary" class="form-label"></label>
        <input asp-for="Salary" class="form-control" />
        <span asp-validation-for="Salary" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="DepartmentId" class="form-label">Department</label> 
        <select asp-for="DepartmentId" class="form-control" asp-items="Model.Departments"></select>
        <span asp-validation-for="DepartmentId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create Employee</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
